<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSendEmail()" color="secondary">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item detail *ngFor="let registers of dataScan.savedRecords" (click)="onOpenHistorial(registers)">
      <ion-icon color="primary" slot="start" [name]="registers.icon"></ion-icon>
      <label>
        <ion-text color="primary">
          <h2>{{registers.text}}</h2>
        </ion-text>
        <ion-text color="primary">
          <p>{{registers.createDate | date:'medium' }}</p>
        </ion-text>
      </label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onDelete()">
    <ion-fab-button>
      <ion-icon name="trash-outline" only-icon></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
